/* ._selectedCategories {
    font-family: "Kanit", sans-serif;
} */
._clearAllButton {
    --h: 0%;
}
._clearAllButton:hover {
    --h: 100%;
}

._clearAllButton::before {
    content: "Clear all";
    text-align: center;
    position: absolute;
    top: -30px;
    right: -30px;
    width: 80px;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    opacity: var(--h);
    transition: all 0.5s;
    
}
